name: My First CI

on:
  push:
    branches: ["main"]

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Get code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run dummy test
        run: echo "Pipeline Successfully Running!"
